/* static/css/landing.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1A73E8 0%, #0F9D58 100%);
    color: #1C1C1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.card {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card ul {
    text-align: left;
    margin-bottom: 24px;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 8px;
}

/* Группа кнопок */
.button-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    /* Расстояние между кнопками */
}
.auth-text {
    font-size: 14px;
    color: #5F6368;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Иконка Яндекc */
.yandex-icon {
    display: inline-block;
    width: 150px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yandex-icon:hover {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #ff0000;
}

.yandex-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}