<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добро пожаловать в АСТРА</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
</head>

<body>
    <div class="container">
        <div class="card">
            <!-- Добавлен логотип -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип АСТРА" class="logo">
            
            <h1>Добро пожаловать в <br>систему управления предприятием АСТРА</br></h1>
            <p>Пройдите регистрацию удобным способом, нажав на кнопку ниже:</p>
            <div class="auth-text"></div>
            <div class="auth-buttons">
                <!-- Заменена кнопка на иконку Яндекс -->
                   
                <a href="{{ url_for('login_yandex') }}" class="yandex-icon">
    
                    <img src="{{ url_for('static', filename='img/logo-yandex.png') }}" alt="Яндекс" class="yandex-icon">                </a>
    
            </a>
            <a href="{{ url_for('login') }}" class="google-icon">
        <img src="{{ url_for('static', filename='img/google-logo.png') }}" alt="Google" class="google-icon">
    </a>
            </div>
        </div>
    </div>
</body>

</html>