<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Перечень регламентов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='regulations_list.css') }}">
</head>

<body>
    <div class="container">
        <h2>Перечень корпоративных стандартов</h2>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название документа</th>
                    <th>Иден. №</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Инструкция по работе с корпоративными стандартами компании</td>
                    <td>СТО – 015.10.Т</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Миссия и основные принципы работы Компании. Преимущества и отличия от других турагентств</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Обслуживание клиентов Компании</td>
                    <td>СТО – 003.10.Т</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Работа менеджера при подписании договора</td>
                    <td>СТО – 012.10.Т</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Инструкция по работе с денежными средствами</td>
                    <td>И – 002.10.Т</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Инструкция по предоставлению скидок</td>
                    <td>И – 001.10.Т</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Работа менеджеров с возражениями клиентов</td>
                    <td>СТО – 013.10.Т</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Получение обратной связи от клиента по окончании оказания услуги</td>
                    <td>СТО – 010.10.Т</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Правила работы сотрудников Компании со служебным интерфейсом сайта Компании</td>
                    <td>СТО – 011.10.Т</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Поведение сотрудников компании при нарушении технологии обслуживания клиентов</td>
                    <td>СТО – 006.10.Т</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Поведение в ситуациях, обеспечивающих безопасность и подвергающих опасности клиентов, Компанию
                        и/или её работников</td>
                    <td>СТО – 005.10.Т</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Система контроля качества оказываемых сотрудниками Компании услуг</td>
                    <td>СТО – 014.10.Т</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Перечень нормативно-правовых документов</td>
                    <td>СТО – 004.10.Т</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Положение об обучении, повышении квалификации</td>
                    <td>П – 008.10.Т</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Положение о наставничестве</td>
                    <td>П – 007.10.Т</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Положение об оплате труда и премировании</td>
                    <td>П – 009.10.Т</td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Навигационный блок -->
    <div class="recommendation-block">
        <h3>📌 Рекомендуем осуществить работу с другими блоками:</h3>

        <!-- Одна "секция" – под тонкой линией -->
        <div class="recommendation-section">
            <h4>Диагностика</h4>
            <div class="button-row">
                <button onclick="window.location.href='/'">Перейти к диагностике</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Задачи</h4>
            <div class="button-row">
                <button onclick="window.location.href='/business'">Бизнес цель</button>
                <button onclick="window.location.href='/tasks'">Задачи и план работ и мероприятий</button>
                <button onclick="window.location.href='/meeting_protocol'">Протокол совещания</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Персонал</h4>
            <div class="button-row">
                <button onclick="window.location.href='/personnel'">Портрет сотрудника</button>
                <button onclick="window.location.href='/three_plus_twenty'">Должностные обязанности</button>
                <button onclick="window.location.href='/adaptation_plan'">Адаптационный план</button>
                <button onclick="window.location.href='/job_description'">Должностная инструкция</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Система стимулирования</h4>
            <div class="button-row">
                <button onclick="window.location.href='/stimulation_system'">Система стимулирования</button>

            </div>
        </div>

        <div class="recommendation-section">
            <h4>Бизнес-процессы</h4>
            <div class="button-row">
                <button onclick="window.location.href='/business_processes'">Бизнес-процессы</button>
                <button onclick="window.location.href='/regulations_list'">Перечень регламентов</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Организационная структура</h4>
            <div class="button-row">
                <button onclick="window.location.href='/organizational_structure'">Организационная структура</button>
            </div>
        </div>

    </div>
</body>

</html>