<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система стимулирования</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stimulation_system.css') }}">
</head>

<body>
    <div class="container">
        <h2>Система стимулирования</h2>
        <form id="stimulation-form">
            <fieldset>
                <legend>Материальное стимулирование</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Оклад</td>
                            <td><input type="text" name="salary"></td>
                        </tr>
                        <tr>
                            <td>Премия</td>
                            <td><input type="text" name="bonus"></td>
                        </tr>
                        <tr>
                            <td>Комиссионное вознаграждение</td>
                            <td><input type="text" name="commission"></td>
                        </tr>
                        <tr>
                            <td>Надбавка за наставничество</td>
                            <td><input type="text" name="mentoring_bonus"></td>
                        </tr>
                        <tr>
                            <td>Оплата больничного</td>
                            <td><input type="text" name="sick_leave"></td>
                        </tr>
                        <tr>
                            <td>Оплачиваемый отпуск</td>
                            <td><input type="text" name="vacation"></td>
                        </tr>
                        <tr>
                            <td>Компенсации</td>
                            <td><input type="text" name="compensations"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Нематериальное стимулирование</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Обучение за счет компании</td>
                            <td><input type="text" name="education"></td>
                        </tr>
                        <tr>
                            <td>Комфортные условия труда</td>
                            <td><input type="text" name="work_conditions"></td>
                        </tr>
                        <tr>
                            <td>ДМС</td>
                            <td><input type="text" name="health_insurance"></td>
                        </tr>
                        <tr>
                            <td>Система стандартов</td>
                            <td><input type="text" name="standards"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Работа с внутренней мотивацией</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Понимание цели компании</td>
                            <td><input type="text" name="company_goals"></td>
                        </tr>
                        <tr>
                            <td>Понимание своих задач</td>
                            <td><input type="text" name="task_understanding"></td>
                        </tr>
                        <tr>
                            <td>Понимание своей роли в компании</td>
                            <td><input type="text" name="role_understanding"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Элементы корпоративной культуры</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Корпоративные мероприятия</td>
                            <td><input type="text" name="corporate_events"></td>
                        </tr>
                        <tr>
                            <td>Участие в корпоративном обучении</td>
                            <td><input type="text" name="corporate_training"></td>
                        </tr>
                        <tr>
                            <td>Личные праздники</td>
                            <td><input type="text" name="personal_celebrations"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Система партнерства</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>Описание четкого алгоритма</td>
                            <td><input type="text" name="partnership_algorithm"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <div class="button-container">
                <button class="submit-button">Отправить</button>
            </div>
        </form>
    </div>
    <!-- Навигационный блок -->
    <div class="recommendation-block">
        <h3>📌 Рекомендуем осуществить работу с другими блоками:</h3>
        <div class="recommendation-section">
            <h4>Диагностика</h4>
            <div class="button-row">
                <button onclick="window.location.href='/'">Перейти к диагностике</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Задачи</h4>
            <div class="button-row">
                <button onclick="window.location.href='/business'">Бизнес цель</button>
                <button onclick="window.location.href='/tasks'">Задачи и план работ и мероприятий</button>
                <button onclick="window.location.href='/meeting_protocol'">Протокол совещания</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Персонал</h4>
            <div class="button-row">
                <button onclick="window.location.href='/personnel'">Портрет сотрудника</button>
                <button onclick="window.location.href='/three_plus_twenty'">Должностные обязанности</button>
                <button onclick="window.location.href='/adaptation_plan'">Адаптационный план</button>
                <button onclick="window.location.href='/job_description'">Должностная инструкция</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Система стимулирования</h4>
            <div class="button-row">
                <button onclick="window.location.href='/stimulation_system'">Система стимулирования</button>

            </div>
        </div>

        <div class="recommendation-section">
            <h4>Бизнес-процессы</h4>
            <div class="button-row">
                <button onclick="window.location.href='/business_processes'">Бизнес-процессы</button>
                <button onclick="window.location.href='/regulations_list'">Перечень регламентов</button>
            </div>
        </div>

        <div class="recommendation-section">
            <h4>Организационная структура</h4>
            <div class="button-row">
                <button onclick="window.location.href='/organizational_structure'">Организационная структура</button>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='stimulation_system.js') }}"></script>
</body>

</html>