<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3+20</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='three_plus_twenty.css') }}">
  <script src="{{ url_for('static', filename='three_plus_twenty.js') }}" defer></script>
</head>

<body>
  <div class="container">
    <h2>3+20</h2>
    <form id="threePlusTwentyForm" action="#">

      <!-- Блок для названия должности -->
      <fieldset>
        <legend>Наименование должности</legend>
        <div id="positionNameContainer">
          <div class="position-item">
            <label for="position_name">Должность:</label>
            <input type="text" id="position_name" name="position_name" placeholder="Введите название должности"
              required />
          </div>
        </div>
      </fieldset>

      <!-- Блок для 3 направлений деятельности -->
      <fieldset>
        <legend>Основные направления деятельности</legend>
        <div id="mainDirections">
          <div class="direction-item">
            <label for="direction_1">Направление 1:</label>
            <input type="text" id="direction_1" name="direction_1" placeholder="Введите направление" required />
          </div>
          <div class="direction-item">
            <label for="direction_2">Направление 2:</label>
            <input type="text" id="direction_2" name="direction_2" placeholder="Введите направление" required />
          </div>
          <div class="direction-item">
            <label for="direction_3">Направление 3:</label>
            <input type="text" id="direction_3" name="direction_3" placeholder="Введите направление" required />
          </div>
        </div>
      </fieldset>

      <!-- Блок для 20 должностных обязанностей -->
      <fieldset>
        <legend>Должностные обязанности</legend>
        <div id="jobResponsibilities">
          <!-- 20 полей для должностных обязанностей -->
          <div class="responsibility-item">
            <label for="responsibility_1">Обязанность 1:</label>
            <input type="text" id="responsibility_1" name="responsibility_1" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_2">Обязанность 2:</label>
            <input type="text" id="responsibility_2" name="responsibility_2" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_3">Обязанность 3:</label>
            <input type="text" id="responsibility_3" name="responsibility_3" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_4">Обязанность 4:</label>
            <input type="text" id="responsibility_4" name="responsibility_4" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_5">Обязанность 5:</label>
            <input type="text" id="responsibility_5" name="responsibility_5" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_6">Обязанность 6:</label>
            <input type="text" id="responsibility_6" name="responsibility_6" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_7">Обязанность 7:</label>
            <input type="text" id="responsibility_7" name="responsibility_7" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_8">Обязанность 8:</label>
            <input type="text" id="responsibility_8" name="responsibility_8" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_9">Обязанность 9:</label>
            <input type="text" id="responsibility_9" name="responsibility_9" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_10">Обязанность 10:</label>
            <input type="text" id="responsibility_10" name="responsibility_10" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_11">Обязанность 11:</label>
            <input type="text" id="responsibility_11" name="responsibility_11" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_12">Обязанность 12:</label>
            <input type="text" id="responsibility_12" name="responsibility_12" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_13">Обязанность 13:</label>
            <input type="text" id="responsibility_13" name="responsibility_13" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_14">Обязанность 14:</label>
            <input type="text" id="responsibility_14" name="responsibility_14" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_15">Обязанность 15:</label>
            <input type="text" id="responsibility_15" name="responsibility_15" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_16">Обязанность 16:</label>
            <input type="text" id="responsibility_16" name="responsibility_16" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_17">Обязанность 17:</label>
            <input type="text" id="responsibility_17" name="responsibility_17" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_18">Обязанность 18:</label>
            <input type="text" id="responsibility_18" name="responsibility_18" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_19">Обязанность 19:</label>
            <input type="text" id="responsibility_19" name="responsibility_19" placeholder="Введите обязанность"
              required />
          </div>
          <div class="responsibility-item">
            <label for="responsibility_20">Обязанность 20:</label>
            <input type="text" id="responsibility_20" name="responsibility_20" placeholder="Введите обязанность"
              required />
          </div>
        </div>
      </fieldset>

      <!-- Кнопка отправить -->
      <button type="submit" class="submit-btn">Отправить</button>
    </form>
  </div>
  <!-- Навигационный блок -->
  <div class="recommendation-block">
    <h3>📌 Рекомендуем осуществить работу с другими блоками:</h3>
    <div class="recommendation-section">
      <h4>Диагностика</h4>
      <div class="button-row">
        <button onclick="window.location.href='/survey_ai'">Перейти к диагностике</button>
      </div>
    </div>

    <div class="recommendation-section">
      <h4>Задачи</h4>
      <div class="button-row">
        <button onclick="window.location.href='/business'">Бизнес цель</button>
        <button onclick="window.location.href='/tasks'">Задачи и план работ и мероприятий</button>
        <button onclick="window.location.href='/meeting_protocol'">Протокол совещания</button>
      </div>
    </div>

    <div class="recommendation-section">
      <h4>Персонал</h4>
      <div class="button-row">
        <button onclick="window.location.href='/employee_profile'">Портрет сотрудника</button>
        <button onclick="window.location.href='/three_plus_twenty'">Должностные обязанности</button>
        <button onclick="window.location.href='/adaptation_plan'">Адаптационный план</button>
        <button onclick="window.location.href='/job_description'">Должностная инструкция</button>
      </div>
    </div>

    <div class="recommendation-section">
      <h4>Система стимулирования</h4>
      <div class="button-row">
        <button onclick="window.location.href='/stimulation_system'">Система стимулирования</button>

      </div>
    </div>

    <div class="recommendation-section">
      <h4>Бизнес-процессы</h4>
      <div class="button-row">
        <button onclick="window.location.href='/business_processes'">Бизнес-процессы</button>
        <button onclick="window.location.href='/regulations_list'">Перечень регламентов</button>
      </div>
    </div>

    <div class="recommendation-section">
      <h4>Организационная структура</h4>
      <div class="button-row">
        <button onclick="window.location.href='/organizational_structure'">Организационная структура</button>
      </div>
    </div>

    <div class="recommendation-section">
      <h4>Дополнительно</h4>
      <div class="button-row">
        <button onclick="window.location.href='/question_answer'">Спроси АСТРу</button>
      </div>
    </div>
  </div>

</body>

</html>